/* .popular-movies {
  display: flex;
  flex-wrap: wrap;
} */

.popular {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Hide Scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.popular::-webkit-scrollbar {
  display: none;
}

@media (min-width: 786px) {
  .popular {
    flex-wrap: initial;
    overflow-x: auto;
    scrollbar-width: none; /* Hide Scrollbar Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .popular::-webkit-scrollbar {
    display: none;
  }
}
